In [266]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [267]:
# считываем файл
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1792,tt0455760,20000000,22217407,Dead Silence,Ryan Kwanten|Donnie Wahlberg|Bob Gunton|Amber ...,James Wan,You scream. You die.,Jamie returns to his hometown in search of ans...,89,Horror,Universal Pictures|Twisted Pictures|Evolution ...,3/16/2007,6.2,2007
652,tt0790686,35000000,72436439,Mirrors,Kiefer Sutherland|Paula Patton|Amy Smart|Camer...,Alexandre Aja,There is evil...On the other side.,An ex-cop and his family are the target of an ...,110,Horror|Thriller|Mystery,Regency Enterprises|Castel Film Romania|ASAF|N...,8/15/2008,6.0,2008
666,tt1132626,10800000,113857533,Saw V,Tobin Bell|Costas Mandylor|Scott Patterson|Bet...,David Hackl,You Won't Believe How It Ends,Detective Hoffman is seemingly the last person...,92,Horror|Thriller|Crime,Lionsgate|Twisted Pictures,10/23/2008,5.9,2008
231,tt1929263,12000000,101332962,Heaven is for Real,Greg Kinnear|Kelly Reilly|Connor Corum|Thomas ...,Randall Wallace,Unlock the mystery,Heaven is for Real recounts the true story of ...,99,Drama,TriStar Pictures|Screen Gems|Roth Films,4/16/2014,6.1,2014
91,tt2938956,25000000,72629670,The Transporter Refueled,Ed Skrein|Ray Stevenson|Loan Chabanol|Gabriell...,Camille Delamarre,He Delivers.,The fast-paced action movie is again set in th...,96,Thriller|Action|Crime,EuropaCorp,9/3/2015,5.3,2015

In [268]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [269]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['profit'] = data.revenue - data.budget  # Профит = прибыль - бюджет
# устал прописывать в заданиях ...str.split('|'), поэтому решил добавить сюда заготовки
data['cast_split'] = data.cast.str.split('|')
data['genres_split'] = data.genres.str.split('|')
data['director_split'] = data.director.str.split('|')
data['prod_comp_split'] = data.production_companies.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [270]:
# находим название с максимальным бюджетом
q_1 = data.original_title[data['budget'] == data['budget'].max()]
print(q_1)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

##### ВАРИАНТ 2

In [271]:
# Простейшая сортировка по убыванию. Выводим только первое значение
q_1 = data.sort_values('budget', ascending=False).head(1)
q_1

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,cast_split,genres_split,director_split,prod_comp_split
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...","[Adventure, Action, Fantasy]",[Rob Marshall],"[Walt Disney Pictures, Jerry Bruckheimer Films..."

##### ОТВЕТ

In [274]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# верно

# 2. Какой из фильмов самый длительный (в минутах)?

In [272]:
# Здесь принцип работы аналогичен Вопросу 1.
q_2 = data.original_title[data.runtime == data.runtime.max()]
q_2

1157    Gods and Generals
Name: original_title, dtype: object

##### ВАРИАНТ 2

In [279]:
q_2 = data.sort_values('runtime', ascending=False).head(1)
q_2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,cast_split,genres_split,director_split,prod_comp_split
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...","[Drama, History, War]",[Ronald F. Maxwell],"[Turner Pictures, Antietam Filmworks]"

##### ОТВЕТ

In [280]:
answers['2'] = 'Gods and Generals (tt0279111)'
# верно

# 3. Какой из фильмов самый короткий (в минутах)?

In [281]:
# Принцип тот же
q_3 = data.original_title[data.runtime == data.runtime.min()]
print('3. Shortest film -', q_3)

3. Shortest film - 768    Winnie the Pooh
Name: original_title, dtype: object

##### ВАРИАНТ 2

In [285]:
# Сортировка по убыванию, берем первый с конца (просто так, для разнообразия, а то head(1) еще надоест :) )
q_3 = data.sort_values('runtime', ascending=False).tail(1)
q_3

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,cast_split,genres_split,director_split,prod_comp_split
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Animation, Family]","[Stephen Anderson, Don Hall]","[Walt Disney Pictures, Walt Disney Animation S..."

##### ОТВЕТ

In [286]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# верно

# 4. Какова средняя длительность фильмов?

In [284]:
# Берем среднее значение и округляем
q_4 = round(data.runtime.mean())
q_4

110

##### ОТВЕТ

In [287]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [288]:
# Медианное значение
q_5 = data.runtime.median()
q_5

107.0

##### ОТВЕТ

In [289]:
answers['5'] = '107'
# верно

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [290]:
# Аналогично Вопросу 1. Поле Профит определено в Предобработке
q_6 = data.original_title[data.profit == data.profit.max()]
q_6

239    Avatar
Name: original_title, dtype: object

##### ВАРИАНТ 2

In [292]:
q_6 = data.sort_values(by=['profit'], ascending=False).head(1)
q_6

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,cast_split,genres_split,director_split,prod_comp_split
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Action, Adventure, Fantasy, Science Fiction]",[James Cameron],"[Ingenious Film Partners, Twentieth Century Fo..."

##### ОТВЕТ

In [293]:
answers['6'] = 'Avatar (tt0499549)'
# верно

# 7. Какой фильм самый убыточный?

In [296]:
# я упертый, напишу и здесь, что аналогично заданию 1
q_7 = data.original_title[data.profit == data.profit.min()]
q_7

1245    The Lone Ranger
Name: original_title, dtype: object

##### ВАРИАНТ 2

In [297]:
q_7 = data.sort_values('profit', ascending=True).head(1)
q_7

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,cast_split,genres_split,director_split,prod_comp_split
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Action, Adventure, Western]",[Gore Verbinski],"[Walt Disney Pictures, Jerry Bruckheimer Films..."

##### ОТВЕТ

In [298]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# верно

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [299]:
# У нас есть колонка Профит, которая считается как Сборы - бюджет. Считаем количество фильмов с положительным Профитом
q_8 = data.original_title[data.profit > 0].count()
q_8

1478

##### ВАРИАНТ 2

In [300]:
# А можно длину посчитать
q_8 = len(data[data.profit > 0])
q_8

1478

##### ВАРИАНТ 3

In [301]:
# Ну или сравнить Сборы и Бюджет
q_8 = len(data[data.revenue > data.budget])
q_8

1478

##### ОТВЕТ

In [302]:
answers['8'] = '1478'
# верно

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [306]:
# Почему-то сперва начал считать по колонке Профит. Но ответ подошел, повезло =)
#  Группируем по году, ищем максимальую прибыль для 2008 года
q_9_profit = data.groupby(['release_year'])['profit'].max().loc[2008]
q_9 = data.original_title[data.profit == q_9_profit]
q_9

599    The Dark Knight
Name: original_title, dtype: object

##### ВАРИАНТ 2

In [305]:
# Но правильное решение, возможно, должно быть такое. Я так и не понял
q_9_revenue = data.groupby(['release_year'])['revenue'].max().loc[2008]
q_9 = data.original_title[data.revenue == q_9_revenue]
q_9

599    The Dark Knight
Name: original_title, dtype: object

##### ВАРИАНТ 3

In [309]:
# Тут опять простая сортировка с условием, что год = 2008. Получилось даже чуть проще
q_9 = data[data.release_year == 2008].sort_values('revenue', ascending=False).head(1)
q_9

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,cast_split,genres_split,director_split,prod_comp_split
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Christian Bale, Michael Caine, Heath Ledger, ...","[Drama, Action, Crime, Thriller]",[Christopher Nolan],"[DC Comics, Legendary Pictures, Warner Bros., ..."

##### ОТВЕТ

In [310]:
answers['9'] = 'The Dark Knight (tt0468569)'
# верно

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [71]:
# Аналогично Вопросу 9. Только условие, что год не больше 2014 и не меньше 2012
q_10_MinProfit = data[(data.release_year <= 2014) & (data.release_year >= 2012)].profit.min()
q_10 = data.original_title[data.profit == q_10_MinProfit]
q_10

1245    The Lone Ranger
Name: original_title, dtype: object

##### ВАРИАНТ 2

In [312]:
q_10 = data[(data.release_year > 2011) & (data.release_year < 2015)].sort_values('profit', ascending=True).head(1)
q_10

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,cast_split,genres_split,director_split,prod_comp_split
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...","[Action, Adventure, Western]",[Gore Verbinski],"[Walt Disney Pictures, Jerry Bruckheimer Films..."

##### ОТВЕТ

In [311]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# верно

# 11. Какого жанра фильмов больше всего?

In [315]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# Не хочу функцию. Код сложнее получится, а здесь можно очень просто
# Разбиваем список жанров на отдельные значения и считаем количество
q_11 = data.genres_split.explode().value_counts(ascending=False).head(1)
q_11

Drama    782
Name: genres_split, dtype: int64

##### ВАРИАНТ 2

In [317]:
# Можно еще посчитать самый частый жанр так
q_11 = Counter(data.genres_split.sum()).most_common(1)
q_11

[('Drama', 782)]

##### ОТВЕТ

In [318]:
answers['11'] = 'Drama'
# верно

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [321]:
# Аналогично предыдущему
q_12 = Counter(data[data.profit > 0].genres_split.sum()).most_common(1)
q_12

[('Drama', 560)]

##### ВАРИАНТ 2

In [322]:
q_12 = data[data.profit > 0].genres_split.explode().value_counts().head(1)
q_12

Drama    560
Name: genres_split, dtype: int64

##### ОТВЕТ

In [323]:
answers['12'] = 'Drama'
# верно

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [324]:
# Считаем сборы каждого отдельного режиссера и выводим максимальное значение
q_13 = Counter()
for i in data.index:
    for name in data.iloc[i].director_split:
        q_13[name] += data.iloc[i].revenue
q_13.most_common(1)

[('Peter Jackson', 6490593685)]

##### ОТВЕТ

In [325]:
answers['13'] = 'Peter Jackson'
# верно

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [326]:
# Оттачиваем навыки. Повторяем одно и то же раз за разом, чтобы лучше запомнить
q_14 = data[data.genres.str.contains('Action')].director_split.explode().value_counts(ascending=False).head(1)
q_14

Robert Rodriguez    9
Name: director_split, dtype: int64

##### ОТВЕТ

In [327]:
answers['14'] = 'Robert Rodriguez'
# верно

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [328]:
# Аналогично Вопросу 13
q_15 = Counter()
for i in data[data.release_year == 2012].index:
    for name in data.iloc[i].cast_split:
        q_15[name] += data.iloc[i].revenue
print(q_15.most_common(1))

[('Chris Hemsworth', 2027450773)]

##### ВАРИАНТ 2

In [332]:
# Взял нужный год, взорвал актерский состав (какой я негодяй!), сгруппировал и отсортировал
q_15 = data[data.release_year == 2012]
q_15 = q_15.explode('cast_split')
q_15 = q_15.groupby('cast_split').revenue.sum().sort_values(ascending=False).head(1)
q_15

cast_split
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

##### ОТВЕТ

In [333]:
answers['15'] = 'Chris Hemsworth'
# верно

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [336]:
# 
q_16 = data[data.budget >= data.budget.mean()].cast_split.explode().value_counts(ascending=False).head(1)
q_16

Matt Damon    18
Name: cast_split, dtype: int64

##### ОТВЕТ

In [335]:
answers['16'] = 'Matt Damon' # Умница Уилл Хантинг собственной персоной! (кстати, отличный фильм)
# верно

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [337]:
# Все однообразно. Просто меняем условие выборки данных. Здесь Николай Кейдж.
q_17 = data[data.cast.str.contains('Nicolas Cage')]
Counter(q_17.genres_split.sum()).most_common(1)

[('Action', 17)]

##### ВАРИАНТ 2

In [338]:
q_17 = Counter()
for i in data[data.cast.str.contains('Nicolas Cage')].index:
    for name in data.iloc[i].genres_split:
        q_17[name] += 1
print(q_17.most_common(1))

[('Action', 17)]

##### ОТВЕТ

In [339]:
answers['17'] = 'Action'
# верно
# Не знаю, чего все так тащились от фильмов с ним... Однообразно же до безумия.

# 18. Самый убыточный фильм от Paramount Pictures

In [340]:
# А вот теперь устал писать комментарии
q_18 = data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by=['profit'], ascending=True)
q_18.original_title.head(1)

925    K-19: The Widowmaker
Name: original_title, dtype: object

##### ОТВЕТ

In [341]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# верно

# 19. Самый успешный год по суммарным кассовым сборам?

In [342]:
q_19 = data.groupby('release_year').sum('revenue')
q_19[q_19.revenue == q_19.revenue.max()]

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

##### ВАРИАНТ 2

In [343]:
q_19 = data.groupby('release_year').sum('revenue')
q_19.sort_values('revenue', ascending=False).head(1)

                  budget      revenue  runtime  vote_average       profit
release_year
2015          6780630004  25449202382    13355         755.2  18668572378

##### ОТВЕТ

In [344]:
answers['19'] = '2015'
# верно

# 20. Какой самый прибыльный год для студии Warner Bros?

In [345]:
q_20 = data[data.production_companies.str.contains('Warner Bros')]
q_20.groupby('release_year').sum('profit').sort_values('profit', ascending=False).head(1)

                 budget     revenue  runtime  vote_average      profit
release_year
2014          947600000  3243064519     1576          88.9  2295464519

##### ОТВЕТ

In [346]:
answers['20'] = '2014'
# верно

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [347]:
# Приведем даты к номральному виду и вытащим месяцы
data['release_date_norm'] = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date_norm.dt.month
# Посчитаем
q_21 = Counter(data.release_month).most_common(1)
q_21

[(9, 227)]

##### ВАРИАНТ 2

In [350]:
# Можно сгруппировать и отсортировать
q_21 = data[['release_month', 'original_title']].groupby('release_month').count()
q_21.sort_values('original_title', ascending=False).head(1)

               original_title
release_month
9                         227

##### ОТВЕТ

In [351]:
answers['21'] = 'Сентябрь'
# верно

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [352]:
q_22 = len(data[(data.release_month >= 6) & (data.release_month <= 8)])
q_22

450

##### ОТВЕТ

In [353]:
answers['22'] = '450'
# верно

# 23. Для какого режиссера зима – самое продуктивное время года?

In [354]:
q_23 = data[data.release_month.isin([1,2,12])]
Counter(q_23.director_split.sum()).most_common(1)

[('Peter Jackson', 7)]

##### ОТВЕТ

In [355]:
answers['23'] = 'Peter Jackson'
# верно

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [357]:
data['title_len'] = data.original_title.str.len()  # Новая колонка - Длина названия фильмов

list_comp_names = []  # Список студий
list_title_len = []  # Список длительности

# Цикл по названиям компаний, добавляем в списки студии и длину названий фильмов
for i in range(len(data)):
    for comp_name in data.iloc[i].prod_comp_split:
        list_comp_names.append(comp_name)
        list_title_len.append(data.iloc[i].title_len)
        
# Преобразуем полученные списки в датафрейм и отсортируем
q_24 = pd.DataFrame({'company_name': list_comp_names,
                   'title_len': list_title_len})
q_24 = q_24.groupby(['company_name'])['title_len'].mean().sort_values(ascending=False).head(1)
q_24

company_name
Four By Two Productions    83.0
Name: title_len, dtype: float64

##### ОТВЕТ

In [358]:
answers['24'] = 'Four By Two Productions'
# верно

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [360]:
# Аналогично предыдущему. Только вместо названий фильмов берем описания
# Можно было функцию попробовать написать и использовать ее в 24 и 25 вопросах
# Если не написал, значит лень
data['overview_len'] = data.overview.str.len()

list_comp_names = []
list_overwiew_len = []

for i in range(len(data)):
    for comp_name in data.iloc[i].prod_comp_split:
        list_comp_names.append(comp_name)
        list_overwiew_len.append(data.iloc[i].overview_len)
q_25 = pd.DataFrame({'company_name': list_comp_names,
                   'overview_len': list_overwiew_len})
q_25 = q_25.groupby(['company_name'])['overview_len'].mean().sort_values(ascending=False).head(1)
q_25

company_name
Midnight Picture Show    1000.0
Name: overview_len, dtype: float64

##### ОТВЕТ

In [361]:
answers['25'] = 'Midnight Picture Show'
# верно

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [362]:
# Просто выведем один процент лучших фильмов по оценкам
q_26 = data[data.vote_average > data.vote_average.quantile(0.99)].original_title
q_26

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

##### ОТВЕТ

In [363]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# верно

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [364]:
# Создадим все комбинации актеров
pairs = data.cast.apply(lambda s: list(combinations(s.split("|"), 2)))

# Посчитаем количество этих комбинаций в фильмах
q_27 = Counter()
for i in range(len(pairs)):
    for one_pair in pairs[i]:
        q_27[one_pair] += 1
        
print(q_27.most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

##### ОТВЕТ

In [365]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# верно

# Submission

In [367]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [366]:
# и убедиться, что ничего не пропустил)
len(answers)

27

In [0]:
# Интересное задание. Местами пришлось потупить и повспоминать материал. Но смотришь на итог, все такое простое :)